import(ggplot2)
importFrom(dplyr, filter, select, left_join)
import(ensurer)
import(SummarizedExperiment)
importFrom(GSEABase,GeneSet,SymbolIdentifier,EntrezIdentifier)
importFrom(tidyr, gather)
importFrom(stats, setNames)
export(teEnrichment)
export(teEnrichmentCustom)
export(teGeneRetrieval)
