import(ggplot2)
import(dplyr)
import(ensurer)
import(SummarizedExperiment)
importFrom(tidyr, gather)
importFrom(stats, setNames)
export(teEnrichment)
export(teEnrichmentCustom)
export(teGeneRetrieval)
